a {
    border: 2px solid black;
}
c {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
header {
    background-color: black;
    color: white;
    border: 5px solid yellow
}

div{
    width:100%;
    border: 5px solid black
    
}

main {
    display: flex;
    
}
